@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Barrio&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Supermercado+One&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --black: #1C1D1E;
    --white: #FEFFFE;
    --grey_600: #394150;
    --grey_500: #D6D9DD;
    --grey_400: #E6E6EA;
    --grey_300: #F3F4F6;
    --red: rgb(196, 0, 0);
}

body {
    font-family: "Inter", sans-serif;
    background-image: url(../images/background-image@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--grey_300);
    height: 120px;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
}

header span {
    border-radius: 16px;
    background-color: var(--black);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 16px;
}

main {
    width: calc(100vw - 24px);
    margin: 0 auto 44px auto;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.08);
}

.summary_section {
    width: 100%;
    background-color: var(--grey_400);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_section {
    width: 100%;
    background-color: var(--white);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.08);
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        width: calc(100vw - 88px);
    }

    .summary_section {
        width: 50%;
    }

    .contact_section {
        width: 50%;
    }

    body {
        background-image: url(../images/background-image.png);
    }
}

/* SUMMARY SECTION */

.products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 340px;
    gap: 20px;
    overflow-y: scroll;
}

.product {
    display: flex;
    gap: 16px;
}

.product_img {
    background-color: var(--white);
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey_500);
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.product_img img {
    transition: all .5s;
}

.product_img:hover>img {
    transform: scale(1.1);
}

.product_info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    row-gap: 8px;
}

.cross {
    position: relative;
    width: 16px;
    height: 16px;
    border: 0;
    background: transparent;
    justify-self: end;
    cursor: pointer;
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--grey_600);
    transform-origin: center;
    transition: background-color .5s;
}

.cross:hover::before,
.cross:hover::after {
    background-color: var(--red);
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.product_info .name {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
}

.product_info .price {
    justify-self: end;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
}

.product_info .color {
    color: var(--grey_600);
    font-size: 16px;
    font-weight: 500;
    grid-column: span 2;
}

.product_info .quantity {
    color: var(--grey_600);
    font-size: 16px;
    font-weight: 500;
}

.dividing_line {
    min-height: 1.5px;
    width: 100%;
    background-color: var(--grey_500);
}

.prices_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coupon_form {
    display: flex;
    gap: 8px;
}

.coupon_form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--grey_500);
    color: var(--black);
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.coupon_form input::placeholder {
    color: var(--grey_600);
}

.primary_button {
    min-width: max-content;
    padding: 16px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: background-color .5s;
}

.primary_button:hover {
    background-color: var(--grey_600);
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.prices>div {
    display: flex;
    justify-content: space-between;
    color: var(--grey_600);
    font-size: 16px;
    font-weight: 600;
}

.prices .total_price {
    color: var(--black);
}

/* CONTACT SECTION */

.contact_section h2 {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputs_container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    column-gap: 24px;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input_container label {
    color: var(--grey_600);
    font-size: 14px;
    font-weight: 700;
}

.primary_input {
    border: 2px solid var(--grey_500);
    background-color: var(--grey_300);
    border-radius: 8px;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    outline: none;
}

.primary_input::placeholder {
    color: var(--grey_600);
}

.custom_select {
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}

.custom_select>.arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    right: 16px;
}

.custom_select>.options {
    position: absolute;
    display: none;
    list-style: none;
    z-index: 999;
    background-color: var(--grey_300);
    border: 2px solid var(--grey_500);
    left: -2px;
    top: 100%;
    width: calc(100% + 4px);
    flex-direction: column;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.custom_select>.options>li {
    padding: 16px;
    transition: background-color .5s;
}

.custom_select>.options>li:hover {
    background-color: var(--grey_400);
}